@model CreateTestViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer


<form method="POST" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">
        @localizer["Save"]
    </button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}